:root {
  --bs-primary: #7A5DF6; 
  --bs-body-bg: #F7F8FA;
  --bs-body-color: #1A1A1A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text-main);
}
